*.pyc
.project
.pydevproject
input/
output/
svmp_db/
tools/svmp_db/
tools/svmp_db/svmp_sitesdb.mdb
tools/SVMP*ab.tbx
tools/SVMP*DEV.tbx
tools/scripts/.idea/
tools/.idea
.idea/
.DS_Store
